
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color:black;
    font-family: 'Source Code Pro', monospace;
    
}

body {
   
    background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}
nav {
    display:flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    padding: 20px,35px;
    /* background-image: url(../images/shutterstock_12274222.jpg); */
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    padding-bottom: 30px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    
}


h1{
    padding:15px;
    font-size: 40px;
    color:white;
  
}


.mycard {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    /* width:30%; */
    /* padding-right:30px; */
    padding-left: 15px;
    height:80%;

   

}

.card-header{
    color:white;
    box-sizing: border-box;
    background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
    
}

h3 {
    font-size: 18px;
    text-align: center;
    
    
}

.city{
    border-color: blue;
}

button {
    
    color: white !important;
    border-color:black!important;
    background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%)!important;
}

button:hover {
    background: linear-gradient(111.7deg, rgb(251, 198, 6) 2.4%, rgb(224, 82, 95) 28.3%, rgb(194, 78, 154) 46.2%, rgb(32, 173, 190) 79.4%, rgb(22, 158, 95) 100.2%)!important;
}

.current-weather-container {
    padding:15px;
    flex-wrap: nowrap;
    display: flex!important;
    background-color: #ffffff;
     border:solid 3px;
    border-color: turquoise;
     padding-left:10px;
     margin-left:10px;
      width: 40%;
     height: 50%;
    align-self: center;
     border-radius: 20px;
    margin:auto;
   
}

#city-input {
    color: purple !important;
    border-color: turquoise!important;
}
#current-city-name{
    padding:20px;
    margin: auto !important;;
   font-size: 30px;
   
}

#currentDate {
padding:20px;
text-align: center;
margin:auto;
}
#uv-index {
    border-radius: 5px;
    padding: 3px;
}

.five-days-forecast {
    
    padding-top: 15px;
    margin-top: 10px;
    display:flex;
    margin-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    font-size: 13px;
    /* align-items: center; */
    justify-content: space-evenly;
   
}

.card-1 ,.card-2, .card-3 , .card-4 , .card-5 {
    padding: 15px;
    background-color: #ffffff;
    border:solid 3px;
    border-color: turquoise;
    border-radius: 20px;
}

