
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;

}

nav {
    display:flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    padding: 20px,35px;
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    padding-bottom: 30px;
}


h1{
    padding:15px;
    font-size: 30px;
    font-weight: lighter;
    color:white;
}

.mycard {
    padding-top: 40px;
    width:80%;
   

}

.card-header{
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
}

h3 {
    color:white;
    text-align: center;
    font-weight: lighter;
}

.city{
    border-color: blue;
}

button {
    border-color:black!important;
    color:white!important;
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%)!important;
}

button:hover {
    background-color: aqua!important;
}
