:root {
    --color-1: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
   
  }



* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color:black;
    font-family: 'Source Code Pro', monospace;
    
}

body {
   
    background: var(--color-1);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

nav {
    display:flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky; /* padding: 20px,35px; */
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    padding-bottom: 30px;  
}

h1{
    padding:10px;
    font-size: 40px;
    color:white;
  
}

.aside {
    height:100%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

main {
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.card-header{
    color:white;
    box-sizing: border-box;
    background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%)!important;
    
}

#city-input {
    color: purple !important;
    border-color: turquoise!important;
}

.mycard {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 50%;
}
h3 {    
    font-size: 14px;
    text-align: center;
    
    
}

.general-button{
    border:solid 1px;
    border-radius: 10px;
    padding:10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    color: white !important;
    border-color:black!important;
    background: linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%)!important;
}

button:hover {
    background: linear-gradient(111.7deg, rgb(251, 198, 6) 2.4%, rgb(224, 82, 95) 28.3%, rgb(194, 78, 154) 46.2%, rgb(32, 173, 190) 79.4%, rgb(22, 158, 95) 100.2%)!important;
}



#current-city-name{
    padding:20px;
    margin: auto !important;;
   font-size: 30px;
   
}
#current-weather-container {
    padding:15px;
    flex-wrap: nowrap;
    display: flex!important;
    background-color: #ffffff;
     border:solid 3px;
    border-color: turquoise;
     padding-left:10px;
     margin-left:10px;
     width: 25%;
     height: 30%;
    align-self: center;
     border-radius: 20px;
    margin:auto;
   
}

#currentDate {
padding:20px;
text-align: center;
margin:auto;
}

#uv-index {
    border-radius: 5px;
    padding: 3px;
}


.fivedayTitle h3 {
    font-size:20px;
    color:white;
    font-weight: bold;
padding-top:15px;
padding-bottom: 10px;
}

.five-days-forecast {
    margin-top: 10px;
    display:flex;
    margin-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    font-size: 13px;/* align-items: center; */
    justify-content: space-evenly;
   
}

.card-1 ,.card-2, .card-3 , .card-4 , .card-5 {
    padding: 15px;
    padding-bottom: 40px;
    background-color: #ffffff;
    border:solid 3px;
    border-color: turquoise;
    border-radius: 20px;
}

.min-temp {
    font-size: 12px;
}

h4 {
    font-size: small;
}
.h4a {
 
    font-size: small;
}

#cityArray {
    width: 50%;
    font-size: 10px;
    padding-top: 10px;
  width: fit-content;
    display:flex;
    flex-direction: column;
    padding:10px;
}

.searched-cities {
    margin-bottom: 5px;
}


footer {
    padding:30px;
}

@media screen and (max-width: 980px) {
    .card-header {
     position: relative;
        padding-bottom: 0;
        justify-content: center;
    }
}
.mycard{
    width: fit-content;
    position: relative;
    padding-bottom: 0;
    justify-content: center;
}

@media screen and (max-width: 768px) {
main {
    display:flex;
flex-direction: column;
}
nav{
    padding-bottom: 3px;
}

h1 {
    padding-bottom: 3px;
    font-size: 20px;
}

.mycard {
    padding-bottom:15px;
}

.five-days-forecast{
padding-bottom: 10px;
margin-bottom: 10px;
}

.card-1 ,.card-2, .card-3 , .card-4 , .card-5 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
}

h3 {
    font-size: smaller;
}
#current-weather-container{
font-size: smaller;
width: 60%;
}
}